<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>
    <b>ID</b>
    <span th:text="${samsung.id}"></span>
</p>
<p>
    <b>MODELO</b>
    <span th:text="${samsung.model}"></span>
</p>
<p>
    <b>RAM</b>
    <span th:text="${samsung.ram}"></span>
</p>
<p>
    <b>PRECIO</b>
    <span th:text="${samsung.price}"></span>
</p>

<p>
    <b>ID</b>
    <span th:text="${oneplus.id}"></span>
</p>
<p>
    <b>MODELO</b>
    <span th:text="${oneplus.model}"></span>
</p>
<p>
    <b>RAM</b>
    <span th:text="${oneplus.ram}"></span>
</p>
<p>
    <b>PRECIO</b>
    <span th:text="${oneplus.price}"></span>
</p>

</body>
</html>